.about-container {
  align-content: center;
  flex-direction: row;
  justify-content: center;
  gap: 0px !important;
  padding-bottom: 16px;
}

.about-section .drawing {
  height: 270px;
  object-fit: cover;
  width: auto;
}

.about-section {
  align-content: center;
  flex-direction: column;
  gap: 32px !important;
  height: auto;
  justify-content: center;
  width: 50%;
}

.about-section h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.about-section .border-left {
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 16px;
  padding: 8px;
  width: 90%;
}

.about-section .border-left h2 {
  color: var(--black);
  cursor: pointer;
  padding: 8px 0;
}

.about-section .border-left h2 i {
  padding-right: 16px;
}

.about-container .border-left p,
.about-container .border-left h5 {
  color: var(--black);
}

@media only screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-section {
    gap: 16px !important;
    padding: 8px 64px;
    width: 100%;
  }

  .about-section .border-left {
    height: auto;
    padding: 24px;
    width: 100%;
  }
}

@media only screen and (max-width: 440px) {
  .about-section {
    padding: 8px 16px;
  }

  .about-container .border-left {
    padding: 8px;
  }
  .about-container .border-left h2 {
    font-size: 1.5rem;
  }
}
