/* Home page */
.homepage-container {
  align-content: flex-start;
  gap: 8px;
  height: 670px;
  justify-content: center;
  margin: 0 auto;
  padding: 56px;
  width: 100%;
  max-width: 1440px;
}

.homepage-container .bento-block h1,
.homepage-container .bento-block h2,
.homepage-container .bento-block h3 {
  color: var(--white);
}

/* Name block */
.homepage-container .name-bento-block,
.homepage-container .csharp-bento-block {
  min-height: calc((100% / 4) * 2);
  max-height: calc((100% / 4) * 2);
  min-width: calc((100% - (8px * 3)) / 8 * 2);
  max-width: calc((100% - (8px * 3)) / 8 * 2);
}

.homepage-container .name-bento-block {
  background-image: url("/images/waves-4.svg");
  background-color: var(--white);
  background-size: 100%;
  background-repeat: repeat-x;
  border: 2px solid var(--black);
  flex-direction: column;
  justify-content: space-between;
}

.homepage-container .name-bento-block h1 {
  padding-top: 20%;
  text-align: center;
}

.homepage-container .name-bento-block .bottom-half {
  align-items: center;
  background-image: url("/images/purple-shapes-background.svg");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 15px 15px;
  height: 45%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/* Name block hover */
.homepage-container .name-bento-block:hover {
  background-size: 120%;
}

.homepage-container .name-bento-block:hover h1 {
  scale: 1.05;
  padding-top: 25%;
}

.homepage-container .name-bento-block:hover .bottom-half {
  height: 35%;
}

/* Projects block*/
.homepage-container .projects-bento-block {
  background-image: url("/images/lit-background-1.svg");
  background-size: 180%;
  background-position: bottom center;
  min-height: calc((100% / 4) * 2);
  max-height: calc((100% / 4) * 2);
  min-width: calc((100% - (8px * 3)) / 8 * 4);
  max-width: calc((100% - (8px * 3)) / 8 * 4);
}

/* Projects block hover*/
.homepage-container .projects-bento-block:hover {
  background-size: 160%;
}

.homepage-container .projects-bento-block:hover h1 {
  scale: 1.1;
}

.homepage-container .csharp-bento-block {
  border: none;
}

.homepage-container .csharp-bento-block .bento-block {
  min-height: calc(100% / 2 - 8px);
  max-height: calc(100% / 2 - 8px);
  min-width: calc(100% / 2 - 4px);
  max-width: calc(100% / 2 - 4px);
}

/* Apps block */
.homepage-container .csharp-bento-block .applications-bento-block {
  background-image: url("/images/rain-background-1.svg");
  border: 2px solid var(--black);
  border-radius: 16px;
  min-height: calc(100% / 2);
  max-height: calc(100% / 2);
  min-width: 100%;
  max-width: 100%;
  animation: appsHover 0.6s ease-in-out;
  animation-iteration-count: 0;
}

/* Apps block hover */
.homepage-container .csharp-bento-block .applications-bento-block:hover {
  animation: appsHover 0.5s ease-in-out;
  animation-iteration-count: infinite;
}

.homepage-container .csharp-bento-block .bento-block {
  background-color: var(--purple);
}

/* .NET block */
.homepage-container .csharp-bento-block .net-bento-block {
  background: linear-gradient(#a00493, #a00493);
}

/* .NET block hover */
.homepage-container .csharp-bento-block .net-bento-block:hover {
  background: linear-gradient(#a00493, #4e0348);
}

/* MVC block */
.homepage-container .csharp-bento-block .mvc-bento-block {
  background-color: #a32abb;
}

/* MVC block hover */
.homepage-container .csharp-bento-block .mvc-bento-block h3 {
  transition: 0.1s all ease-in-out;
  border-bottom: 0px solid var(--white);
}

.homepage-container .csharp-bento-block .mvc-bento-block:hover h3 {
  border-bottom: 4px solid var(--white);
}

.homepage-container .about-bento-block,
.homepage-container .web-dev-bento-block {
  min-height: calc((100% / 4) * 2);
  max-height: calc((100% / 4) * 2);
  min-width: calc((100% - (8px * 2)) / 8 * 4);
  max-width: calc((100% - (8px * 2)) / 8 * 4);
}

.homepage-container .web-dev-bento-block {
  border: none;
  flex-wrap: wrap;
  gap: 8px;
}

.homepage-container .web-dev-bento-block .bento-block {
  min-height: calc(100% / 2 - 8px);
  max-height: calc(100% / 2 - 8px);
  min-width: calc(100% / 4 - 6px);
  max-width: calc(100% / 4 - 6px);
}

/* web and databases blocks */
.homepage-container .web-dev-bento-block .databases-bento-block,
.homepage-container .web-dev-bento-block .websites-bento-block {
  min-width: calc((100% - 8px) / 4 * 3);
  max-width: calc((100% - 8px) / 4 * 3);
}

/* HTML block */
.homepage-container .web-dev-bento-block .html-bento-block {
  background: linear-gradient(var(--blue) 20px, #083ea3);
}

/* HTML block hover */
.homepage-container .web-dev-bento-block .html-bento-block:hover {
  background: linear-gradient(var(--blue) 200px, #07052b);
}

/* Websites block */
.homepage-container .web-dev-bento-block .websites-bento-block {
  background-image: url("/images/rain-background-1.svg");
}

/* Websites block hover */
.homepage-container .web-dev-bento-block .websites-bento-block h2 {
  border: 0px solid var(--white);
  transition: all 0.1s ease;
}

.homepage-container .web-dev-bento-block .websites-bento-block:hover h2 {
  border: 5px solid var(--white);
  padding: 5px;
  scale: 1.1;
}

/* Databases block */
.homepage-container .web-dev-bento-block .databases-bento-block {
  background-image: url("/images/wavey-background-1.svg");
  background-position: center;
  background-size: 100% 200%;
}

/* Databases block hover */
.homepage-container .web-dev-bento-block .databases-bento-block:hover {
  background-size: 160% 250%;
}

/* SQL block */
.homepage-container .web-dev-bento-block .sql-bento-block {
  background-color: #603cb4;
}

/* SQL block hover */
.homepage-container .web-dev-bento-block .sql-bento-block:hover {
  background-color: #6212a3;
}

/* About block */
.homepage-container .about-bento-block {
  background-image: url("/images/blobs-background-1.svg");
  background-size: 1000px;
  background-position: center;
}

/* About block hover */
.homepage-container .about-bento-block:hover {
  background-size: 3000px;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .homepage-container {
    height: 600px;
    padding: 48px 12px;
  }

  .homepage-container .name-bento-block h1 {
    padding-top: 30%;
  }

  .homepage-container .name-bento-block h1:hover {
    padding-top: 32%;
  }

  .homepage-container .projects-bento-block {
    background-size: 180%;
  }

  .homepage-container .projects-bento-block:hover {
    background-size: 210%;
  }
}

@media only screen and (max-width: 768px) {
  .homepage-container {
    align-items: center;
    flex-direction: column-reverse !important;
    flex-wrap: nowrap !important;
    height: 600px;
    padding: 48px 8px;
    margin: 300px 0;
  }

  .homepage-container .projects-bento-block {
    min-width: calc((100% - (8px * 3)) / 4 * 4);
    max-width: calc((100% - (8px * 3)) / 4 * 4);
  }

  .homepage-container .name-bento-block,
  .homepage-container .csharp-bento-block {
    min-width: calc((100% - (8px * 3)) / 4 * 4);
    max-width: calc((100% - (8px * 3)) / 4 * 4);
  }

  .homepage-container .name-bento-block {
    min-height: calc((100% / 4) * 1);
    max-height: calc((100% / 4) * 1);
  }

  .homepage-container .name-bento-block {
    background-image: none;
  }

  .homepage-container .name-bento-block h1 {
    padding-top: 15px;
  }

  .homepage-container .name-bento-block:hover h1 {
    padding-top: 25px;
  }

  .homepage-container .projects-bento-block {
    background-size: 120% 100%;
  }

  .homepage-container .projects-bento-block:hover {
    background-size: 120% 130%;
  }

  .homepage-container .csharp-bento-block {
    flex-direction: row-reverse;
  }

  .homepage-container .about-bento-block,
  .homepage-container .web-dev-bento-block {
    min-width: calc((100% - (8px * 2)) / 4 * 4);
    max-width: calc((100% - (8px * 2)) / 4 * 4);
  }
}

@media only screen and (max-width: 440px) {
.homepage-container .web-dev-bento-block .databases-bento-block,
.homepage-container .web-dev-bento-block .websites-bento-block {
  min-width: calc((100% - 8px) / 5 * 3);
  max-width: calc((100% - 8px) / 5 * 3);
}
.homepage-container .web-dev-bento-block .html-bento-block,
.homepage-container .web-dev-bento-block .sql-bento-block {
  min-width: calc((100% - 8px) / 8 * 3);
  max-width: calc((100% - 8px) / 8 * 3);
}

.homepage-container .web-dev-bento-block .databases-bento-block {
  background-size: 180% 100%;
}

.homepage-container .web-dev-bento-block .databases-bento-block:hover {
  background-size: 280% 200%;
}

}

/* Keyframes */
@keyframes appsHover {
  0% {
    background-position: 0px;
  }

  33% {
    background-position: 0px;
  }

  34% {
    background-position: 200px 25px;
  }

  66% {
    background-position: 200px 25px;
  }

  67% {
    background-position: 300px 75px;
  }

  99% {
    background-position: 300px 75px;
  }

  100% {
    background-position: 0px;
  }
}
